workflows/speed-to-lead-error-handler.json
{
  "name": "Speed to Lead \u2014 Error Handler",
  "nodes": [
    {
      "id": "node-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "node-format-fallback",
      "name": "Code: Format Fallback SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// NOTIF-04: Error fallback — send raw lead to Baptiste when pipeline fails\n// Read lead data stored by main workflow's raw log node\nconst staticData = $getWorkflowStaticData('global');\nconst rawLead = staticData.lastLead ? JSON.parse(staticData.lastLead) : null;\n\n// Parse error context from Error Trigger\nconst workflowName = $json.workflow?.name || 'Speed to Lead';\nconst errorMsg = $json.execution?.error?.message || 'Erreur inconnue';\nconst lastNode = $json.execution?.lastNodeExecuted || 'noeud inconnu';\n\n// Build fallback SMS (keep under 320 chars — 2 SMS segments max)\nlet sms;\nif (rawLead) {\n  // Extract basic lead info for Baptiste\n  const fields = {};\n  for (const col of rawLead.user_column_data || []) {\n    fields[col.column_name] = col.string_value;\n  }\n  const name = fields['FULL_NAME'] || 'Inconnu';\n  const phone = fields['PHONE_NUMBER'] || 'pas de tél';\n  const request = fields['demande'] || fields['message'] || '';\n  const leadId = rawLead.lead_id || '?';\n  sms = `LEAD PERDU [${workflowName}]\\nErreur: ${errorMsg.substring(0, 60)}\\nLead: ${name} | ${phone}\\nDemande: ${request.substring(0, 60)}\\nID: ${leadId}`;\n} else {\n  sms = `LEAD PERDU [${workflowName}]\\nErreur: ${errorMsg.substring(0, 80)}\\nDernier noeud: ${lastNode}\\nAucune donnée lead disponible.`;\n}\n\n// Truncate total SMS to 320 chars (2 segments) as hard limit\nreturn [{ json: { fallback_sms: sms.substring(0, 320) } }];"
      }
    },
    {
      "id": "node-twilio-baptiste",
      "name": "HTTP Request: Twilio SMS (Baptiste)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $env.BAPTISTE_PHONE }}"
            },
            {
              "name": "From",
              "value": "={{ $env.TWILIO_SENDER_ID }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.fallback_sms }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Code: Format Fallback SMS", "type": "main", "index": 0 }]]
    },
    "Code: Format Fallback SMS": {
      "main": [[{ "node": "HTTP Request: Twilio SMS (Baptiste)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_setup_notes": {
    "error_handler_setup": "After importing this workflow: 1) Create an n8n Basic Auth credential named 'Twilio Basic Auth' with Username=TWILIO_ACCOUNT_SID and Password=TWILIO_AUTH_TOKEN. 2) In the main workflow Settings > Error Workflow, select 'Speed to Lead — Error Handler'. 3) Set BAPTISTE_PHONE env var to Baptiste's mobile in E.164 format (+33XXXXXXXXX)."
  }
}
