workflows/speed-to-lead-error-handler.json
{
  "name": "Speed to Lead \u2014 Error Handler",
  "nodes": [
    {
      "id": "node-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "node-format-fallback",
      "name": "Code: Format Fallback SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst lastLead = staticData.lastLead || {};\nconst clientConfig = lastLead.client_config || {};\nconst errorInfo = $input.first().json;\n\nconst name = lastLead.name || 'Inconnu';\nconst phone = lastLead.phone || lastLead.email || 'N/A';\nconst request = (lastLead.message || lastLead.request || 'N/A').substring(0, 80);\n\nreturn {\n  json: {\n    owner_phone: clientConfig.owner_phone || '',\n    wa_phone_number_id: clientConfig.wa_phone_number_id || '',\n    wa_access_token: clientConfig.wa_access_token || '',\n    wa_error_template: clientConfig.wa_error_template || 'lead_error_notify_fr',\n    name,\n    phone,\n    request,\n    has_wa_config: !!(clientConfig.owner_phone && clientConfig.wa_phone_number_id && clientConfig.wa_access_token)\n  }\n};"
      }
    },
    {
      "id": "node-error-if-config",
      "name": "IF: Config disponible ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "leftValue": "={{ $json.has_wa_config }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "node-error-wa",
      "name": "WhatsApp: Erreur au Dirigeant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.wa_phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.wa_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "json": {
            "messaging_product": "whatsapp",
            "recipient_type": "individual",
            "to": "={{ $json.owner_phone }}",
            "type": "template",
            "template": {
              "name": "={{ $json.wa_error_template }}",
              "language": { "code": "fr" },
              "components": [
                {
                  "type": "body",
                  "parameters": [
                    { "type": "text", "text": "={{ $json.name }}" },
                    { "type": "text", "text": "={{ $json.request }}" },
                    { "type": "text", "text": "={{ $json.phone }}" }
                  ]
                }
              ]
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Code: Format Fallback SMS", "type": "main", "index": 0 }]]
    },
    "Code: Format Fallback SMS": {
      "main": [[{ "node": "IF: Config disponible ?", "type": "main", "index": 0 }]]
    },
    "IF: Config disponible ?": {
      "main": [
        [{ "node": "WhatsApp: Erreur au Dirigeant", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_setup_notes": {
    "error_handler_setup": "After importing this workflow: 1) In the main workflow Settings > Error Workflow, select 'Speed to Lead \u2014 Error Handler'. 2) Ensure the Core Workflow stores client_config (with owner_phone, wa_phone_number_id, wa_access_token) in staticData.lastLead. 3) The WhatsApp template 'lead_error_notify_fr' must be approved in Meta Business Manager, or override via client_config.wa_error_template."
  }
}
