workflows/speed-to-lead-main.json
{
  "name": "Speed to Lead \u2014 Main",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook: Google Ads Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "dupont-plomberie",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "speed-to-lead-dupont"
    },
    {
      "id": "node-log-raw",
      "name": "Code: Log Raw Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// INGEST-03: Log raw payload for audit/debug\n// NOTIF-04 prep: Store last lead in staticData for error recovery\nconst lead = $input.first().json;\n\n// Log to n8n execution log (visible in Executions view for 7 days)\nconsole.log('RAW_LEAD:', JSON.stringify(lead));\n\n// Store in workflow static data so Error Handler workflow can recover it\n// This survives even if subsequent nodes fail\nconst staticData = $getWorkflowStaticData('global');\nstaticData.lastLead = JSON.stringify(lead);\nstaticData.lastLeadTime = new Date().toISOString();\n\n// Pass through unchanged — do not modify the payload\nreturn $input.all();"
      }
    },
    {
      "id": "node-validate-key",
      "name": "IF: google_key valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-google-key",
              "leftValue": "={{ $json.google_key }}",
              "rightValue": "={{ $env.GOOGLE_KEY }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ]
        },
        "looseTypeValidation": false
      }
    },
    {
      "id": "node-dedup",
      "name": "Remove Duplicates: lead_id",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [900, 260],
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "deduplicationKey": "={{ $json.lead_id }}",
        "options": {
          "historySize": 10000
        }
      }
    },
    {
      "id": "node-extract-fields",
      "name": "Code: Extract Lead Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 260],
      "parameters": {
        "jsCode": "// Parse Google Ads Lead Form nested array into flat fields\n// Source: https://developers.google.com/google-ads/webhook/docs/implementation\nconst lead = $input.first().json;\nconst fields = {};\n\nfor (const col of lead.user_column_data || []) {\n  fields[col.column_name] = col.string_value;\n}\n\n// is_test check: log-only mode, no sends for test leads\n// Note: deduplication still runs for is_test leads — intentional\nconst isTest = lead.is_test === true;\n\nreturn [{\n  json: {\n    lead_id: lead.lead_id,\n    is_test: isTest,\n    phone: fields['PHONE_NUMBER'] || null,\n    email: fields['EMAIL'] || null,\n    name: fields['FULL_NAME'] || 'Prospect',\n    request: fields['demande'] || fields['message'] || fields['MESSAGE'] || '',\n    submit_time: lead.lead_submit_time,\n    raw: lead\n  }\n}];"
      }
    },
    {
      "id": "node-claude",
      "name": "HTTP Request: Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 260],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"model\": \"claude-haiku-4-5\",\n  \"max_tokens\": 200,\n  \"system\": \"Tu travailles pour {{ $env.BUSINESS_NAME }}, {{ $env.SERVICE_TYPE }} basé(e) à {{ $env.CITY }}.\\n\\nUn prospect vient de soumettre un formulaire de contact Google Ads.\\n\\nTa mission : rédiger UN SMS de confirmation en français.\\n\\nRègles STRICTES :\\n- Le SMS doit faire STRICTEMENT MOINS DE 160 caractères (espaces compris)\\n- Reformule en une phrase la demande spécifique du prospect (ce qu'il a écrit)\\n- Confirme qu'on le rappelle sous {{ $env.CALLBACK_MINUTES }} minutes\\n- N'invente AUCUN prix, délai exact, ni disponibilité non confirmée\\n- N'ajoute AUCUNE formule de politesse, signature, ou introduction\\n- Commence DIRECTEMENT par le contenu du SMS\\n\\nExemple acceptable (150 caractères) :\\n\\\"Bonjour Marie, votre fuite d'eau sous l'évier : notre plombier vous rappelle sous 30 minutes. Dupont Plomberie.\\\"\\n\\nExemple interdit (trop long, prix inventé) :\\n\\\"Bonjour Marie, nous avons bien reçu votre demande concernant une fuite d'eau sous votre évier de cuisine. Nous vous confirmons qu'un de nos plombiers qualifiés vous contactera dans les 30 prochaines minutes pour intervenir dès que possible au prix de 80€ de l'heure. Dupont Plomberie, votre spécialiste.\\\"\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"<prospect_input>Nom: {{ $json.name }}\\nDemande: {{ $json.request }}</prospect_input>\"\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "node-truncate-sms",
      "name": "Code: Truncate SMS to 155 chars",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 260],
      "parameters": {
        "jsCode": "// Parse Claude API response and prepare SMS fields\n// RESP-01: extract generated message\nconst claudeOutput = $json.content?.[0]?.text || '';\n\n// RESP-05: truncate to 155 chars to stay within single SMS segment (160 minus safety margin)\nconst claudeMessage = claudeOutput.length > 155\n  ? claudeOutput.substring(0, 152) + '...'\n  : claudeOutput;\n\n// Carry forward all lead fields for downstream nodes\nreturn [{\n  json: {\n    lead_id: $json.lead_id,\n    is_test: $json.is_test,\n    phone: $json.phone,\n    email: $json.email,\n    name: $json.name,\n    request: $json.request,\n    claude_message: claudeMessage,\n    claude_raw: claudeOutput,\n    submit_time: $json.submit_time,\n    raw: $json.raw\n  }\n}];"
      }
    },
    {
      "id": "node-route-channel",
      "name": "IF: phone available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 260],
      "parameters": {}
    },
    {
      "id": "node-twilio-prospect",
      "name": "HTTP Request: Twilio SMS (Prospect)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 180],
      "parameters": {}
    },
    {
      "id": "node-brevo-email",
      "name": "Brevo: Send Email (Prospect)",
      "type": "n8n-nodes-base.brevo",
      "typeVersion": 1,
      "position": [2000, 380],
      "parameters": {}
    },
    {
      "id": "node-owner-format",
      "name": "Code: Format Owner Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 180],
      "parameters": {
        "jsCode": "// TODO: Plan 06 — format owner SMS with tel: link\nreturn $input.all();"
      }
    },
    {
      "id": "node-twilio-owner",
      "name": "HTTP Request: Twilio SMS (Owner)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2440, 180],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook: Google Ads Lead": {
      "main": [[{ "node": "Code: Log Raw Payload", "type": "main", "index": 0 }]]
    },
    "Code: Log Raw Payload": {
      "main": [[{ "node": "IF: google_key valid?", "type": "main", "index": 0 }]]
    },
    "IF: google_key valid?": {
      "main": [
        [{ "node": "Remove Duplicates: lead_id", "type": "main", "index": 0 }],
        []
      ]
    },
    "Remove Duplicates: lead_id": {
      "main": [
        [{ "node": "Code: Extract Lead Fields", "type": "main", "index": 0 }],
        []
      ]
    },
    "Code: Extract Lead Fields": {
      "main": [[{ "node": "HTTP Request: Claude API", "type": "main", "index": 0 }]]
    },
    "HTTP Request: Claude API": {
      "main": [[{ "node": "Code: Truncate SMS to 155 chars", "type": "main", "index": 0 }]]
    },
    "Code: Truncate SMS to 155 chars": {
      "main": [[{ "node": "IF: phone available?", "type": "main", "index": 0 }]]
    },
    "IF: phone available?": {
      "main": [
        [{ "node": "HTTP Request: Twilio SMS (Prospect)", "type": "main", "index": 0 }],
        [{ "node": "Brevo: Send Email (Prospect)", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Request: Twilio SMS (Prospect)": {
      "main": [[{ "node": "Code: Format Owner Notification", "type": "main", "index": 0 }]]
    },
    "Code: Format Owner Notification": {
      "main": [[{ "node": "HTTP Request: Twilio SMS (Owner)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
