workflows/speed-to-lead-entry-cabinet-martin.json
{
  "name": "Speed to Lead — Entry: cabinet-martin",
  "nodes": [
    {
      "id": "entry-martin-webhook",
      "name": "Webhook: Google Ads Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "cabinet-martin",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "entry-cabinet-martin"
    },
    {
      "id": "entry-martin-validate-key",
      "name": "IF: google_key valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-google-key-martin",
              "leftValue": "={{ $json.google_key }}",
              "rightValue": "={{ $env.MARTIN_GOOGLE_KEY }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ]
        },
        "looseTypeValidation": false
      }
    },
    {
      "id": "entry-martin-config",
      "name": "Code: Assemble Client Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 260],
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\nreturn {\n  json: {\n    ...lead,\n    client_config: {\n      client_slug: 'cabinet-martin',\n      business_name: 'Cabinet Martin Avocats',\n      service_type: 'avocat',\n      city: 'Lyon',\n      owner_phone: $env.MARTIN_OWNER_PHONE || '+33600000001',\n      owner_email: 'contact@cabinet-martin.fr',\n      brevo_sender_email: 'no-reply@cabinet-martin.fr',\n      callback_promise_minutes: 60,\n      follow_up_delay_minutes: 120,\n      follow_up_enabled: true,\n      wa_phone_number_id: $env.MARTIN_WA_PHONE_NUMBER_ID,\n      wa_access_token: $env.MARTIN_WA_ACCESS_TOKEN,\n      wa_confirm_template: 'lead_confirm_fr',\n      wa_owner_template: 'lead_owner_notify_fr',\n      wa_followup_template: 'lead_followup_fr',\n      wa_error_template: 'lead_error_notify_fr'\n    }\n  }\n};"
      }
    },
    {
      "id": "entry-martin-execute-core",
      "name": "Execute: Core Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [900, 260],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "CORE_WORKFLOW_ID",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      }
    }
  ],
  "connections": {
    "Webhook: Google Ads Lead": {
      "main": [[{ "node": "IF: google_key valid?", "type": "main", "index": 0 }]]
    },
    "IF: google_key valid?": {
      "main": [
        [{ "node": "Code: Assemble Client Config", "type": "main", "index": 0 }],
        []
      ]
    },
    "Code: Assemble Client Config": {
      "main": [[{ "node": "Execute: Core Workflow", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_setup_notes": "Post-import: 1) Select Core Workflow ID in Execute node. 2) Set env vars: MARTIN_WA_PHONE_NUMBER_ID, MARTIN_WA_ACCESS_TOKEN, MARTIN_OWNER_PHONE, MARTIN_GOOGLE_KEY, MARTIN_WEBHOOK_SECRET"
}
